
<h1 class="text-center">Mr. Slade's Cocktail Repo</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
      <div class="wrapper">
        <div class="card radius shadowDepth1">
          <div class="card__image border-tlr-radius">
            <img src="http://lorempixel.com/400/200/nightlife/" alt="image" class="border-tlr-radius">
          </div>
          <div class="card__content card__padding">
            <article class="card__article">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>

            </article>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>


